@import '~@wordpress/base-styles/colors';
@import '~@wordpress/base-styles/colors.native';
@import '~@wordpress/base-styles/variables';
@import '~@wordpress/base-styles/mixins';
@import '~@wordpress/base-styles/breakpoints';
@import '~@wordpress/base-styles/animations';
@import '~@wordpress/base-styles/z-index';
@import '~@wordpress/base-styles/default-custom-properties';

[data-type="form-block/select"] {
	.components-base-control__field {
		margin-bottom: 0;
	}
	
	.components-button.is-small {
		height: 30px; // identical height to select
	}
	
	// hide default border if custom one is set
	select[style*="border-"] ~ .components-input-control__backdrop {
		border: none;
	}
	
	.editor-styles-wrapper & {
		margin-bottom: $grid-unit-20 !important;
		margin-top: $grid-unit-20 !important;
	}
}
