.settings_page_form-block {
	.column-data {
		strong {
			display: block;
			font-size: 14px;
			margin-bottom: .2em;
		}
	}
}

.form-block__data-details {
	margin-top: .5em;
	
	dl {
		display: flex;
		flex-flow: row wrap;
		margin-block: .5em 1.5em;
	}
	
	dt,
	dd {
		background-color: #f6f7f7;
		border-block-end: 1px solid #ddd;
		border-inline: 1px solid #ddd;
		box-sizing: border-box;
		padding: .75em .5em;
	}
	
	dt {
		flex: 0 0 200px;
		
		&:first-child {
			border-block-start: 1px solid #ddd;
		}
		
		&:nth-child(4n - 3) {
			background-color: #fff;
		}
	}
	
	dd {
		border-inline-start: 0;
		flex: 0 0 calc(100% - 200px);
		margin: 0;
		white-space: pre-wrap;
		
		&:first-of-type {
			border-block-start: 1px solid #ddd;
		}
		
		&:nth-child(4n - 2) {
			background-color: #fff;
		}
	}
}

.form-block__field-output {
	margin-block-start: .5em;
	
	> :first-child {
		margin-block-start: 1em;
	}
}
