@import '~@wordpress/base-styles/variables';

.form-block__date-custom {
	.form-block__date-custom--separator {
		font-size: $default-font-size;
		padding-block: 6px; // match input padding
		
		&.is-before:first-child {
			display: none;
		}
	}
	
	.is-type-year {
		flex-grow: 2;
	}
}
