@import '~@wordpress/base-styles/colors';
@import '~@wordpress/base-styles/colors.native';
@import '~@wordpress/base-styles/variables';
@import '~@wordpress/base-styles/mixins';
@import '~@wordpress/base-styles/breakpoints';
@import '~@wordpress/base-styles/animations';
@import '~@wordpress/base-styles/z-index';
@import '~@wordpress/base-styles/default-custom-properties';

@import "./input/style.scss";
@import "./select/style.scss";

[data-type="form-block/input"],
[data-type="form-block/select"],
[data-type="form-block/textarea"] {
	.form-block__label-control .components-text-control__input {
		background-color: rgba(0, 0, 0, 0);
		border: 0;
		border-radius: 0;
		padding-left: 0;
		padding-right: 0;
	}
	
	.components-form-toggle {
		line-height: 0; // fix vertical alignment
	}
	
	.components-toggle-control {
		margin-bottom: $grid-unit-10;
	}
}

.form-block__flexible-flex-item.form-block__flexible-flex-item {
	display: flex;
}

.form-block__inline-block-container {
	display: inline-flex;
	gap: $grid-unit-10;
}
